.contactBox{
    background-color: #F16A22;
    padding: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25px;
    border-radius:25px ;
    
}
.contactText{
    color: white;
    font-weight: bold;
}
.contactTitle{
    color: white;
    font-weight: bold;
}
/*PHONE ADJUSTMENTS*/
@media only screen and (max-width: 600px) {
    .contactBox{
        margin-left: 5%;
        margin-right: 5%;
    }
}