.headerBackground{
    background-color: #36393F;
}
.headerText{
    font-size: large;
    padding: 15px;
    font-weight: bold;
    color:#fff
}
.footerBackground{

}
.footerText{
    font-size: small;
    padding: 15px;
    color:#dcddde;

}