.headerBackground{
    background-color: #F16A22;
}
.headerText{
    font-size: 25px;
    padding: 15px;
    font-weight: bold;
    color:#fff
}
.footerBackground{
    float: bottom;

}
.footerText{
    font-size: small;
    padding: 15px;
    color:#dcddde;
}