.linkButton{
  background-color: darkgray; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: 1.5s ease;

}
.linkButton:hover{
    background-color: lightgray;

}
.projectPicture{
    border-radius: 5px;
    width: 300px;
    height: 500px;
    object-fit: cover;
}
.mainProjectClass{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}
#leftProjectBox{
    flex: 1; 
}
#rightProjectBox{
    flex: 2; 
} 