.linkButton{
  background-color: #F7F6F0;
  border: none;
  color: #F16A22;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  transition: 1.5s ease;
  font-weight: bold;
  margin-bottom: 10px;
}
.linkButton:hover{
    background-color: #d6d5cf;
}
.projectPicture{
    border-radius: 25px;
    width: 240px;
    height: 400px;
    object-fit: cover;
}
.mainProjectClass{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;    
}
.mainProjectClass:nth-child(even) {
    flex-direction: row-reverse;
}
.mainProjectClass:nth-child(even) .projectTextBox {
    flex-direction: row-reverse;
    border-radius: 0px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

#projectPictureBox{
    flex: 1; 
}
.projectTextBox{
    flex:100; 
    background-color: #F16A22;
    margin-top: 50px;
    margin-bottom: 50px;
 
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.projectDesText{
    color: white;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
    font-size: large;
}
.projectTitle{
    color:white;
    font-weight: bold;
    font-size: 35px;
}

/*PHONE ADJUSTMENTS*/
@media only screen and (max-width: 1050px) {
    .mainProjectClass {
      flex-direction: column;
    }
    .mainProjectClass .projectTextBox{
        border-bottom-left-radius: 25px;
    }

    .mainProjectClass:nth-child(even) {
        flex-direction: column;
    }
    .mainProjectClass:nth-child(even) .projectTextBox {
        border-bottom-right-radius: 25px;
    }
    .linkButton{
        margin-bottom: 25px;
    }

    /*Adjust text for phone*/
    .projectDesText{
        color: white;
        font-weight: bold;
        margin-left: 15px;
        margin-right: 15px;
        font-size: medium;
    }
}